.title {
  font-family: 'Montserrat Subrayada', sans-serif;
  margin-top: 0.5em;
  position: relative;
  top: 0.5em;
  display: flex;
  align-items: baseline;
}

.title .ant-spin {
  color: #1DB954;
  margin-left: 1em;
}

.loggedIn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:  0;
  padding:  0;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background: lightgreen;
  margin: 0;
  padding: 0.25rem;
  box-shadow: lightgrey 0px 4px 30px -10px;
  z-index: 99;
}

.userProf {
  display: flex;
  align-items: flex-end;
}

.profPic {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-left: 1rem;
}

.nowPlaying {
  display: flex;
  align-items: flex-end;
  margin-top: 0.5rem;
}

.text {
  font-family: 'Nunito', sans-serif;
}

.dashboardContainer {
  margin: 2em;
  padding: 1em;
  border-radius: 1em;
  background: #eee;
  display: flex;
  flex-direction: column;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.015),
  0 6.7px 5.3px rgba(0, 0, 0, 0.024),
  0 12.5px 10px rgba(0, 0, 0, 0.015),
  0 10.3px 17.9px rgba(0, 0, 0, 0.016),
  0 20px 15.2px rgba(0, 0, 0, 0.01),
  0 20px 80px rgba(0, 0, 0, 0.12);
  min-height: fit-content;
}

.dashboardHeader h1 {
  flex: 1 0;
  align-self: center;
}

.artistTrackContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rangeSlider {
  display: flex;
  flex-direction: column;
  margin: 0 4em;
}

.artistCard {
  width: 100px;
  height: 112px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 2px;
  text-overflow: ellipsis;
}

.artistCard > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.artistCard > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}